.page-store-section {
  background: $light-green-background;
}
.title-content {
  margin-bottom: 80px;
} 
.title-content h2 {
    padding-top: 100px;
}

.store-grid {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: 310px 310px 310px;
  padding-bottom: 180px;

  &__child {
    background: $white-background;
    padding: 20px;
    width: 300px;
    height: 330px;

    h2 {
      padding-bottom: 40px;
    }
  }
}
.post-zipcode {
  padding-bottom: 40px;
}
.post-hours {
  padding-top: 25px;
}
