.woocommerce-form-coupon-toggle {
    display: none;
}
.checkout-wrapper {
    width: 1200px;
    margin: auto;
}
.woocommerce-billing-fields {
    width: 400px;
    h3 {
        padding-bottom: 20px;
    }
    margin-bottom: 50px;
}
.woocommerce-shipping-fields {
    margin-bottom: 50px;
}

.checkout.woocommerce-checkout {
    padding-top: 100px;
}

.col-1 {
    width: 600px;
    height: 1200px;
    padding: 40px;
} 
.col-2 {
    padding: 40px;
    width: 600px;
}
.col2-set {
    display: flex;
} 

.woocommerce-additional-fields__field-wrapper {
    p {
    display: flex;
    flex-direction: column;
    }
}
.form-row.form-row-first.validate-required {
    display: flex;
    flex-direction: column;
    label {
        padding-bottom: 10px;
    } 
    span {
        input {
            height: 35px;
            width: 400px;
            border: 2px solid #353434;
            margin-bottom: 10px;
        }
    }
}
.form-row.form-row-last.validate-required {
    display: flex;
    flex-direction: column;
    label {
        padding-bottom: 10px;
    } 
    span {
        input {
            height: 35px;
            width: 400px;
            border: 2px solid #353434;
            margin-bottom: 10px;
        }
    }
} 
.form-row.form-row-wide {
    display: flex;
    flex-direction: column;
    label {
        padding-bottom: 10px;
        padding-top: 10px;
    } 
    span {
        input {
            height: 35px;
            width: 400px;
            border: 2px solid #353434;
            margin-bottom: 10px;
        }
    }
}

.selection {
    width: 400px;
}
.select2-selection.select2-selection--single {
    border: none;
}
.select2-selection__rendered {
    border: 2px solid #353434;
}
.form-row.adress-field.validate-required.form-row-wide {
    label {
        padding-top: 10px;
    }
}
.shop_table.woocommerce-checkout-review-order-table {
    padding-top: 40px;
    
    thead {
        display: none;
    }
    tbody {
        height:100px;
        tr {
            margin-bottom: 20px;
        }
    }
    tfoot {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        tr {
            th{
            font-weight: bold;
            }
            td{
                font-weight: bold;
            }
        }
    }
}
.product-name {
    display: flex; 
    align-items: center;
}
.cart_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-total {
    font-weight: bold;
}
.order-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.woocommerce-order {
    padding-top: 100px;
}