* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Styling for default button
.wp-block-buttons .wp-block-button {
    margin-bottom: 50px;
    background-color: #617C7C;
}

.wp-block-button__link {
    background-color: #617C7C;
}

.wp-block-buttons.is-content-justification-center {
    background-color: $light-green-background;
}

.related {
    display: none;

    .products {
        display: none;
    }
}