@import "./variables";

.woocommerce-result-count {
  padding-top: 100px;
  margin-left: 15%;
}
.woocommerce-ordering {
  margin-left: 15%;
  padding-bottom: 100px;
}

.products {
  display: grid;
  justify-content: center;
  grid-gap: 10rem;
  grid-template-columns: 440px 440px;
  padding-bottom: 160px;
  list-style: none;

  li {
    margin-bottom: 50px;
  }
  a:hover {
    text-decoration: underline;
  }
  a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: 350px;
    }
    h2 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
.term-description {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    max-width: 700px;
} 
}
.page-title {
  position: relative; 
  text-align: center;
}
.woocommerceHeader {
  padding: 100px 0; 
  background: $dark-green-background;
  min-height: 375px;
    h1 {
      padding-bottom: 20px;
    }

}
