

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,100&family=Libre+Baskerville&family=Montserrat&display=swap');


h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
    color: #353434;
} 

p, a {
    font-family: 'Montserrat', sans-serif;
}

label {
    font-family: 'Montserrat', sans-serif;
    color: #353434;
}