/* 
--------Different colors--------
*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,100&family=Libre+Baskerville&family=Montserrat&display=swap");
h1, h2, h3 {
  font-family: "Libre Baskerville", serif;
}

p, a {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wp-block-buttons .wp-block-button {
  margin-bottom: 50px;
  background-color: #617C7C;
}

.wp-block-button__link {
  background-color: #617C7C;
}

/* 
--------Different colors--------
*/
.headerpage {
  background: transparent;
  display: flex;
  align-items: center;
}

.style-header__left {
  width: 40%;
}
.style-header__left ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.style-header__left ul li:hover {
  text-decoration: underline;
}
.style-header__left ul li {
  position: relative;
  padding: 10px 0;
}
.style-header__left ul li a {
  text-decoration: none;
  color: #353434;
}
.style-header__left .sub-menu {
  display: none;
}
.style-header__left ul li:hover .sub-menu li {
  margin: 0 0 10px 0;
  z-index: 5;
  position: relative;
}
.style-header__left ul li:hover .sub-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  color: #617C7C;
  width: 10rem;
  padding: 20px;
}
.style-header__left ul li:hover .sub-menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0.5px;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 8px;
  background-color: #FFFFFF;
}
.style-header__title {
  width: 20%;
  text-align: center;
}
.style-header__title a {
  font-family: "Libre Baskerville", serif;
  color: #353434;
  text-decoration: none;
}
.style-header__right {
  width: 40%;
}
.style-header__right ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.style-header__right ul li a {
  text-decoration: none;
  color: #353434;
}
.style-header__right #menu-item-40 {
  position: absolute;
  right: 1.5rem;
}
.style-header__right #menu-item-36 {
  display: block;
  position: absolute;
  right: 3.7rem;
}
.style-header__right #menu-item-35 {
  display: block;
  position: absolute;
  right: 16rem;
}
.style-header__right #menu-item-35:hover {
  text-decoration: underline;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #617C7C;
  height: 371px;
  color: white;
}
.footer-container h2 {
  padding-top: 100px;
  padding-right: 80px;
  font-size: 24px;
  font-weight: 700;
}
.footer-container .footer-inner-container {
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 100px;
}
.footer-container .footer-inner-container .footer-right-box {
  padding-left: 147px;
  font-size: 20px;
  font-weight: 700;
}
.footer-container .footer-inner-container .footer-right-box ul {
  padding: 0;
}
.footer-container .footer-inner-container .footer-right-box li {
  list-style-type: none;
  padding-bottom: 10px;
}
.footer-container .footer-inner-container .footer-right-box a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.footer-container .footer-inner-container .footer-left-box {
  padding-left: 147px;
  font-size: 20px;
  font-weight: 700;
}
.footer-container .footer-inner-container .footer-left-box ul {
  padding: 0;
}
.footer-container .footer-inner-container .footer-left-box li {
  list-style-type: none;
  padding-bottom: 10px;
}
.footer-container .footer-inner-container .footer-left-box a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.hero-block {
  width: 100%;
  height: 753px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.hero-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-block-container h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 757px;
  text-align: center;
}

.info-block-container p {
  margin-bottom: 30px;
  width: 757px;
  text-align: center;
}

.fullwidth-image-block {
  width: 100%;
  height: 436px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: #617C7C;
}
.fullwidth-image-block h2 {
  text-align: center;
  color: #353434;
  margin-bottom: 40px;
}
.fullwidth-image-block p {
  text-align: left;
  color: #353434;
  max-width: 60%;
  margin-top: 40px;
}
.fullwidth-image-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-store-section {
  background: #BFC7C7;
}

.title-content {
  margin-bottom: 80px;
}

.title-content h2 {
  padding-top: 100px;
}

.store-grid {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: 310px 310px 310px;
  padding-bottom: 180px;
}
.store-grid__child {
  background: #FFFFFF;
  padding: 20px;
  width: 300px;
  height: 330px;
}
.store-grid__child h2 {
  padding-bottom: 40px;
}

.post-zipcode {
  padding-bottom: 40px;
}

.post-hours {
  padding-top: 25px;
}

/* 
--------Different colors--------
*/
.news-background-section {
  background: #BFC7C7;
}

.news-title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.news-info-text {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.news-info-text p {
  width: 600px;
}

.news-content {
  width: 500px;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.posts-grid {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: 310px 310px 310px;
  padding-bottom: 180px;
}

.posts-wrapper {
  width: 300px;
  height: 420px;
  background: #FFFFFF;
}
.posts-wrapper__image img {
  height: 200px;
  width: 100%;
  background-size: cover;
}
.posts-wrapper__text {
  padding: 20px;
}
.posts-wrapper__text h2 {
  padding-bottom: 10px;
}
.posts-wrapper__text p {
  padding-bottom: 10px;
}
.posts-wrapper__text a {
  text-decoration: none;
  color: #353434;
}
.posts-wrapper__text a:hover {
  text-decoration: underline;
}

.page-single__date {
  display: flex;
  justify-content: center;
}
.page-single__date p {
  padding-top: 50px;
  padding-bottom: 20px;
}
.page-single__title {
  display: flex;
  justify-content: center;
}
.page-single__title h1 {
  padding-top: 20px;
  padding-bottom: 70px;
}
.page-single__image {
  width: 900px;
  height: 520px;
  margin: auto;
}
.page-single__image img {
  width: 100%;
  height: 100%;
}
.page-single__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-single__content p {
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-single__content a {
  display: none;
}

.contact-title {
  display: flex;
  justify-content: center;
}
.contact-title h1 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.contact-content-wrapper p {
  max-width: 700px;
  margin: auto;
  padding-bottom: 100px;
}

#wpforms-186 {
  margin: auto;
  max-width: 800px;
}

.wpforms-field-medium {
  min-width: 100%;
}

.wpforms-submit-container {
  display: flex;
  justify-content: right;
}

#wpforms-submit-186.wpforms-submit {
  width: 161px;
  background-color: #617C7C;
  color: #FFFFFF;
  align-items: right;
  margin-bottom: 100px;
}

.woocommerce-result-count {
  padding-top: 100px;
  margin-left: 15%;
}

.woocommerce-ordering {
  margin-left: 15%;
  padding-bottom: 100px;
}

.products {
  display: grid;
  justify-content: center;
  grid-gap: 100px;
  grid-template-columns: 460px 460px;
  padding-bottom: 180px;
  list-style: none;
}
.products li {
  margin-bottom: 50px;
}
.products a:hover {
  text-decoration: underline;
}
.products a {
  text-decoration: none;
  color: black;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.products a img {
  width: 100%;
  height: 320px;
  padding-bottom: 20px;
}
.products a h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}/*# sourceMappingURL=main.css.map */